Thumbs.db

## parsed/compiled and python files to ignore
*.pyc
notebooks/credentials.py
notebooks/wip.py
notebooks/credentialsTemplate.py
notebooks/MugMatch-master.zip
notebooks/mugMatch.py
notebooks/mugRefactor.py




